@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

* {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6, a {
    color: white;
}

a:visited {
  color: #ffff88;
}

body {
    margin-top: 50px;
}

button {
    border-radius: 20px;
    background-color: yellowgreen;
    border: none;
    color: black;
    font-weight: bold;
    padding: 12px 28px;
    text-align: center !important;
}

button:hover {
    cursor: pointer;
}

.btn {
	text-align: center !important;
}

.topnav {
    overflow: hidden;
    background-color: #808080;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

footer {
    text-align: center;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.invisible {
  background-color: rgba(128, 128, 128, 0.5);
}

.headline {
    text-align: center;
}

.active {
    color: black !important;
}

#brand {
    height: 15px;
    width: auto;
}

#logo {
    height: 22px;
    width: 22px !important;
    margin-top: 0px;
}

#bkgrnd {
  background-image: url(https://cdna.artstation.com/p/assets/images/images/008/876/484/large/sin-lee-20170511-sonatine-little.jpg?1515842656);
}

#time {
    float: right;
}